.cardsContainer {
    width: 80%; 
    margin: auto;
    margin-top: 2px;
    justify-content: center;
}

.cards {
    margin: 10px;
}

@media screen and (max-width: 1000px)
{    

}

@media screen and (max-width: 765px)
{

    .cardsContainer {
        width: 100%; 
        margin: 0px;
        padding-top: 70px;
        justify-content: center;
    }

    .cards {
        margin-bottom: 60px;
    }

}