.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: #FFFFFF40;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.sign {
    border: 1px solid lightgray;
    padding: 5px;
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    background-color: #FFFFFF;
}

.signSection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 270px;
    margin: 0 42px 0 42px;
}

.signTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 24px;
    align-self: start;

    color: #000000;
    margin-top: 10px;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
input {
    margin: 5px;
    width: 270px;
    height: 52px;
    font-size: 15px;
    padding: 10px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
}

.inputError {
    border: 3px solid red;
}

.passwordDiv {
    position: relative;
}

.iconPassword {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 35%;
    right: 8%;
}
.forgetPassword {
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #207872;
}

.raw {
    margin-top: 10px;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}

.raw input {
    width: 20px;
    height: 20px;
    border-radius: 0;
    border: 2px solid black;
}

.raw label {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.signButton {
    cursor: pointer;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;

    line-height: 15px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    background: #207872;
    padding: 15px 15px 15px 15px;
    border: solid #ffffff 2px;
    text-decoration: none;
}

.buttonHover:hover {
    border: 2px solid #0072bb;
}


.submitRegister {
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.submitRegister p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #000000;
}



.divider {
    width: 0;
    height: 350px;
    align-self: center;
    border: 1px black solid;
}



.mt {
    margin-top: 20px;
}

.ant-menu-item:hover {
    color: green;
}
  
@media only screen and (max-width: 720px) {
    .sign {
        border: 1px solid lightgray;
        padding: 5px;
        display: flex;
        position: relative;
        flex-flow: column-reverse nowrap;
        align-items: flex-start;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .divider {
        margin: 25px 0 10px 0;
        width: 300px;
        height: 0;
        align-self: center;
        border: 1px black solid;
    }
}